  <div id="<%= dom_id(word) %>">
    <h4><%= link_to word.full_word, word %></h4>
    <%= word.definition %>
    <% if current_user %><p><%= link_to "Show", word %> <%= link_to 'Edit', [:edit, word] %> <%= link_to 'Destroy', word, method: :delete, data: { confirm: 'Are you sure?' } %></p><% end %>
  </div>