<p id="notice"><%= notice %></p>

<p>
  <strong>Prefix:</strong>
  <%= @word.prefix %>
</p>

<p>
  <strong>Word:</strong>
  <%= @word.word %>
</p>

<p>
  <strong>Definition:</strong>
  <%= @word.definition %>
</p>

<p>
  <strong>Phonetic:</strong>
  <%= @word.phonetic %>
</p>

<p>
  <strong>Syllables:</strong>
  <%= @word.syllables %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @word.slug %>
</p>

<p>
  <strong>Also matches:</strong>
  <%= @word.also_matches %>
</p>

<%= link_to 'Edit', edit_word_path(@word) %> |
<%= link_to 'Back', words_path %>
